/* Common Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* Style for title color and horizontal line */
.Using-color{
    color:#5AB9EA;
}
.title {
    text-align: center;
    font-size: 50px;
    color: #5AB9EA;
    margin-top: 50px;
}
.title h3 {
    display: flex;
    flex-direction: row;
  }
  h3:before, h3:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h3:before {
    margin-right: 10px
  }
  h3:after {
    margin-left: 10px
  }
  /* Style for title color and horizontal line  end*/

/* nav-section */
header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.flex-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(150, 150, 150);
  }
  .logo {
    margin: 0 0 0 .45em;
  }
      .logo a {
        color: white;
      }
  
      .logo, .navigation {
          list-style: none;
          text-transform: uppercase;
      }
  
      .logo a, .navigation a {
          text-decoration: none;
          letter-spacing: .15rem;
      }
  
  .navigation  {
    display: flex;
  }
  
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
      background: #5AB9EA;
  }
/* nav-section ends */

/* hero-section  */
.hero-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Hero{
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#Hero::after{
   content: ''; 
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color:black; 
   opacity: .5;
   z-index: -1;
}
#Hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#Hero h3{
    display: block;
    width: fit-content;
    font-size: 1.5rem;
    position: relative;
    color: white;
}
/* hero-section end */

/* Biography-section  */
.Biography-container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
.biography-info{
    width: 40%;
    padding: 0 5%;
    margin: auto;
}
.biography-info p{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.biography-info img{
    width: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
/* Biography-section end  */

/* Politics Section */
.Politics-container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
.Politics-info{
    width: 40%;
    padding: 0 5%;
    margin: auto;
}
.Politics-info img{
   width: 100%;
   border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px 8px #888888;
}
.Politics-info p{
    font-size: 18.5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
/* Politics Section end */

/* Business Activites */
.business-container{
    width: 1100px;
    margin: 80px auto;
    /* margin-bottom: 80px; */
}
.business{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.business-details{
    box-shadow: 1px 1px 10px rgba(143, 143, 143, 0.425);
}
.business-info{
    padding: 4% 4% 0;
}
.business-img img{
    width: 92%;
    height: 92%;
    padding: 4%;
}
/* Business Activites end */

/* Contact Section */
form {
    max-width:420px; margin:50px auto; 
   }
.feedback-input {
 color:white;
 font-weight:500;
 font-size: 18px;
 border-radius: 5px;
 line-height: 22px;
 background-color: transparent;
 border:2px solid #5AB9EA;
 transition: all 0.3s;
 padding: 13px;
 margin-bottom: 15px;
 width:100%;
 box-sizing: border-box;
 outline:0;
}
.feedback-input:focus { 
   border:2px solid #5AB9EA; 
}
textarea {
 height: 150px;
 line-height: 150%;
}

[type="submit"] {
 width: 100%;
 background:#5AB9EA;
 border-radius:5px;
 border:0;
 cursor:pointer;
 color:white;
 font-size:24px;
 padding-top:10px;
 padding-bottom:10px;
 transition: all 0.3s;
 margin-top:-4px;
 font-weight:700;
}
[type="submit"]:hover {
    background:#5AB9EA;
    }
/* Contact Section end */

/* Footer */
footer{
    background-color: gray;
}
footer p{
    text-align: center;
    color: white;
    font-size: 25px;
}
/* Footer end*/